.container {
  padding: 20px;
  text-align: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.projectCard {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.projectCard:hover {
  transform: scale(1.05);
}

.projectImage {
  border-radius: 10px;
  object-fit: cover;
}
